<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детский мир</title>
    <style>
        body { background-color: #f0f9ff; }
        .navbar { background-color: #ffce00 !important; }
        .card { border: none; border-radius: 15px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); }
        .btn-primary { background-color: #007bff; border-radius: 20px; }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light mb-5">
            <div class="container">
                <a class="navbar-brand fw-bold" href="/">🧸 ДЕТСКИЙ МИР</a>
            </div>
        </nav>
        <h1>Об авторе</h1>
        <hr>
        <p>Я Тишкова Елизавета, автор сайта. Просьба не ломать</p>
        <div class="mt-4">
            <a href="/" class="btn btn-outline-secondary">
                ← Вернуться на главную
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>